.tx-ca-measurer {
	position:absolute;
	visibility:hidden;
	top:0;
	left:0;
	z-index:1;
	white-space:pre-wrap;
}

.tx-ca-measurer i {
	display:inline-block;
	zoom:1;
	background:red;
}

.tx-ca-popup {
	position:absolute;
	background:#fff;
	background:rgba(255,255,255,0.85);
	z-index:10;
	margin-top:1em;
	padding:2px;
	border:1px solid #d2d2d2;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
	-webkit-box-shadow: 0 2px 2px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 3px 2px rgba(0,0,0,0.1);
	-ms-box-shadow: 0 3px 2px rgba(0,0,0,0.1);
	box-shadow: 0 2px 2px rgba(0,0,0,0.1);
	
	
	-webkit-border-top-left-radius:2px;
	-moz-border-radius-topleft:2px;
	border-top-left-radius:2px;
}

.tx-ca-popup-content {
	position:relative;
	min-width:100px;
	_width:100px;
	overflow:auto;
	overflow-x:hidden;
}

/* Content assist popup has scollable content */
.tx-ca-popup-overflow .tx-ca-popup-content {
	padding-right:2px;
}

.tx-ca-additional-info {
	background:#ffffd7;
	padding:10px;
	border:1px solid #a8ae88;
	width:150px;
	position:absolute;
	left:100%;
	font-family:'Lucida Grande', arial, sans-serif;
	font-size:11px;
	margin-left:5px;
	opacity:0.85;
	
	-webkit-border-radius: 5px;	-moz-border-radius: 5px;	-ms-border-radius: 5px;	border-radius: 5px;
	
	-webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.2);	-moz-box-shadow: 0 3px 4px rgba(0,0,0,0.5);	-ms-box-shadow: 0 3px 4px rgba(0,0,0,0.5);	box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

/* window from left side */
.tx-ca-additional-info-left {
	margin-left:-10px;
	right:100%;
	left:auto;
}


.tx-proposal {
	color:#242423;
	font-family:'Lucida Grande', arial, sans-serif;
	font-size:11px;
	font-weight:bold;
	line-height:20px; /* Set line-height in pixels for better look in Firefox */
	padding:0 4px 1px 4px;
	cursor:pointer;
	overflow:hidden;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
	
	-webkit-border-top-left-radius:0;
	-moz-border-radius-topleft:0;
	border-top-left-radius:0;
}

.tx-proposal-selected {
	position:relative;
	background:#7a8da1;
	background:-webkit-gradient(linear, left top, left bottom, from(#7a8da1), to(#455d75));
	background-image:-moz-linear-gradient(top,#7a8da1,#455d75);
	color:#fff;
	text-shadow:0 1px 0 rgba(0,0,0,0.7);
}

/** neat scrollbars for Webkit */
.tx-ca-popup-content::-webkit-scrollbar {
	width:9px;
	height:9px;
}

.tx-ca-popup-content::-webkit-scrollbar-track {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAHCAIAAABPxRC5AAAAPElEQVQImVWLwRGAMBCElou5/vuLtQQfPoz8GAbutWb3Ncacs7tLTaJSpVaSJIB7AwXkoE5Rv//X3wt4ACQ3F9lopNWrAAAAAElFTkSuQmCC) transparent 50% 0 repeat-y;
	-webkit-border-radius:5px;
}

.tx-ca-popup-content::-webkit-scrollbar-thumb {
	-webkit-border-radius:4px;
	background:#c5c5c4;
	background: -webkit-gradient(linear, left top, right top, from(#f9f9f9), to(#e6e6e6));
	border:1px solid #d3d2d2;
	left:0;
	position:absolute;
	-webkit-box-shadow:0 1px 1px rgba(0,0,0,0.1);
}